* {
    font-weight: normal;
    font-family: Montserrat;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    height: 75px;
    padding-left: 200px;
    padding-right: 200px;
}

.header-item {
    flex: 1;
    display: flex;
    align-items: center;
}

#header-links {
    display: flex;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

#header-links a {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    text-align: center;
}

#hero {
    display: flex;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.hero-item {
    flex: 1;
}

.hero-button {
    transition: 0.2s;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
}
.hero-button:hover {
    width: 180px;
}
.hero-button:active {
    background-color: white;
    color: #3882F6;
}

#hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero h2 {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
}

#hero-image {
    background-color: rgba(211, 211, 211, 0.479);
    text-align: center;
}

#information {
    background-color: white;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

#divs {
    display: flex;
}

.information-item {
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

#information h1 {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

#information h3 {
    width: 200px;
}

#information img {
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#quote {
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
}
#quote div {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 1000px;
    margin: auto;
}
.quote-author {
    text-align: right;
    width: 1000px;
    margin: auto;
    font-weight: bold;
    font-size: 24px;
}


#callToAction {
    background-color: white;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
#callToAction-div {
    background-color: #3882F6;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    display: flex;
    border-radius: 15px;
    align-items: center;
} 
#callToAction-div * {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}
.cta-button {
    transition: 0.2s;

    max-width: 200px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    border: 4px solid white;
    border-radius: 15px;
    align-self: center;
}
.cta-button:active {
    background-color: white;
    color: #3882F6;
}
.cta-button:hover {
    max-width: 220px;
    height: 70px;
}

footer {
    padding-left: 200px;
    padding-right: 200px;
    height: 75px;
    text-align: center;
    color: white;
}
