* {
    font-weight: normal;
    font-family: Montserrat;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    height: 75px;
    padding-left: 200px;
    padding-right: 200px;
}

.header-item {
    flex: 1;
    display: flex;
    align-items: center;
}

#header-links {
    display: flex;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

#header-links a {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    text-align: center;
}

